<div class="card card-block">
  <h2>Search</h2>
  <%= simple_form_for :search, url: search_restaurants_path do |f| %>
    <% if @search %>
      <%= f.input :search, input_html: { value: @search['search']} %>
    <% else %>
      <%= f.input :search %>
    <% end %>
    <%= f.submit 'Search' %>
  <% end %>
</div>
